<div class="col-xs-1 panel votingWidget panel-default">
    <div class="row">
        <div class="votingButton center-block text-center" ng-click="upvote()">
            <i class="glyphicon glyphicon-chevron-up icon-white glyphicon-align-center"></i>
        </div>
        <div class="badge badge-inverse center-block">
            {{count}}
        </div>
        <div class="votingButton center-block text-center" ng-click="downvote()">
            <i class="glyphicon glyphicon-chevron-down icon-white glyphicon-align-center"></i>
        </div>
    </div>
</div>