/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.myAddon {
    width: 20%;
    min-width: 125px;
    overflow: hidden;

}

.square {
    border-radius: 0 !important;
}

.square-bottom {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.square-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.myGroup {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}

input.ng-dirty.ng-invalid {
    border: 2px red solid;
}

input.ng-touched {
    background-color: lightyellow;
}
