<!DOCTYPE html>
<html ng-app="eventsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>-->
    <link rel="stylesheet" href="app.css"/>
</head>
<body ng-cloak>
<div class="container">
    <div ng-controller="CookieStoreSampleController" style="padding:20px">

        <button class="btn btn-primary" ng-click="saveEventToCookie(event)">Store Cookie</button>

        <button class="btn btn-primary" ng-click="getEventFromCookie()">Get Cookie</button>

        <button class="btn btn-primary" ng-click="removeEventCookie()">Remove Cookie</button>

    </div>
</div>




<div id="scripts">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="filters.js"></script>
    <script src="controllers/CookieStoreSampleController.js"></script>
    <script src="services/EventData.js"></script>
    <script src="services/ExceptionHandler.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</div>
</body>
</html>