<!DOCTYPE html>
<html ng-app="eventsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>-->
    <link rel="stylesheet" href="app.css"/>
</head>
<body ng-cloak>

<div class="container-fluid">

    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <ul class="nav">

            </ul>
        </div>
    </div>

    <div ng-controller="EventController" style="padding: 0px 20px">
        <img ng-src="{{event.imageUrl}}" alt="" style="width: 100%; max-width: 800px"/>
        <div class="row">
            <div class="col-xs-11">
                <h2 ng-bind-template="{{event.name | uppercase}} {{event.date | date: 'shortDate'}}"></h2>
            </div>
        </div>

        <!--put the misc playing around stuff in here-->
        <!----->
        <!----->
        <div class="well well-sm">
            <div class="panel-header label-primary">Playground</div>
            <br/><br/>
            <div ng-bind-html="snippet">some title</div>

            <div ng-show="boolValue">Show this</div>
            <div ng-hide="boolValue">Hide this</div>

            <div>{{ 3.14159876 | number:2}}</div>
            <div>{{ 3 | number:2}}</div>

            <div>{{ {a:3, b:'hi', c:{aa:35} } | json }}</div>
        </div>
        <!----->
        <!----->
        <!----->


        <div class="row">
            <div class="col-xs-3">
                <div><strong>Date:</strong>{{event.date | date: 'mediumDate'}}</div>
                <div><strong>Time:</strong>{{event.time}}</div>
                <div><strong>Price:</strong>{{34 | currency}}</div>
            </div>
            <div class="col-xs-4">
                <address>
                    <strong>Address:</strong><br/>
                    {{event.location.address}}<br/>
                    {{event.location.city}}, {{event.location.state}}
                </address>
            </div>
        </div>
        <hr/>
        <h3>Sessions</h3>
        Order By:&nbsp
        <select class="btn btn-success btn-xs" ng-model="sortorder">
            <option value="name">Name</option>
            <option value="-upVoteCount">Votes</option>
        </select>

        Show:&nbsp
        <select class="btn btn-success btn-xs" ng-model="query.level">
            <option value="">All</option>
            <option value="introductory">Introductory</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>

        <br/><br/>
        <div style="padding: 0px 20px">
            <div ng-repeat="session in event.sessions | orderBy: sortorder | filter: query | limitTo: 2  ">
                <div class="row session">

                    <div class="col-xs-1 panel votingWidget panel-default" >
                        <div class="row">
                            <div class="votingButton center-block text-center" ng-click="upVoteSession(session)">
                                <i class="glyphicon glyphicon-chevron-up icon-white glyphicon-align-center"></i>
                            </div>
                            <div class="badge badge-inverse center-block">
                                {{session.upVoteCount}}
                            </div>
                            <div class="votingButton center-block text-center" ng-click="downVoteSession(session)">
                                <i class="glyphicon glyphicon-chevron-down icon-white glyphicon-align-center"></i>
                            </div>
                        </div>
                    </div>

                    <div class="well well-sm col-xs-9">
                        <h4 class="well-title">{{session.name}}</h4>
                        <h6>{{session.creatorname}}</h6>
                        <div class="panel-body">
                            <span>Duration: {{session.duration | durations}}</span><br/>
                            <span>Level: {{session.level}}</span><br/>
                            <p>{{session.abstract}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    <div id="scripts">
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="app.js"></script>
        <script src="filters.js"></script>
        <script src="controllers/EventController.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
    </div>
</body>
</html>