<!DOCTYPE html>
<html ng-app="eventsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>-->
    <link rel="stylesheet" href="app.css"/>
</head>
<body ng-cloak>

<div class="container-fluid">

    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <ul class="nav">

            </ul>
        </div>
    </div>

    <div ng-controller="EditEventController" style="padding: 0px 20px">
        <div class="container">
            <h1>New Event</h1>
            <hr/>
            <form name="newEventForm">
                <fieldset>
                    <div class="input-group myGroup  input-group-sm">
                        <div class="input-group-addon myAddon">Event Name</div>
                        <input required ng-model="event.name" type="text" class="form-control"
                               placeholder="Name of your event..."/>
                    </div>
                    <br/>

                    <div class="input-group myGroup  input-group-sm">
                        <div class="input-group-addon myAddon">Event Date</div>
                        <input required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" type="text"
                               class="form-control" placeholder="format (mm/dd/yyyy)..."/>
                    </div>
                    <br/>

                    <div class="input-group myGroup input-group-sm">
                        <div class="input-group-addon myAddon">Event Time</div>
                        <input ng-model="event.time" type="text" class="form-control" placeholder="start and end time"/>
                    </div>
                    <br/>

                    <div class="input-group myGroup input-group-sm">
                        <div class="input-group-addon myAddon square-bottom">Event Location</div>
                        <input ng-model="event.location.address" type="text" class="form-control square-bottom"
                               placeholder="Address of event..."/>
                    </div>
                    <div class="input-group myGroup input-group-sm">
                        <div class="input-group-addon myAddon square">City</div>
                        <input ng-model="event.location.city" type="text" class="form-control square"
                               placeholder="City..."/>
                    </div>
                    <div class="input-group myGroup input-group-sm">
                        <div class="input-group-addon myAddon square-top">State</div>
                        <input ng-model="event.location.state" type="text" class="form-control square-top"
                               placeholder="State..."/>
                    </div>
                    <br/>

                    <div class="input-group myGroup input-group-sm">
                        <div class="input-group-addon myAddon">Image:</div>
                        <input ng-model="event.imageUrl" type="url" class="form-control" placeholder="Url of image..."/>
                    </div>
                    <br/>
                </fieldset>

                <div class="row">
                    <div class="col-xs-3 btn-group-sm">
                        <button class="btn btn-primary" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" style="margin: 1px">Save</button>
                        <button class="btn btn-default" ng-click="cancelEdit()" style="margin: 1px">Cancel</button>
                    </div>
                    <br/>

                    <img ng-src="{{event.imageUrl}}" src="" class="col-xs-9"/>
                    <br/>
                </div>
            </form>

        </div>
    </div>
</div>


<div id="scripts">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <script src="filters.js"></script>
    <script src="controllers/EventController.js"></script>
    <script src="controllers/EditEventController.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</div>
</body>
</html>