<div>
    <h1>Events</h1>
    <hr/>
    <hr/>
    <div class="row">
        <div ng-repeat="event in events | orderBy:sortorder" class="col-sm-5">
            <div class="well well-sm btn-primary">
                <a href="event/{{event.id}}" class="btn-primary" style="text-decoration: none">
                <h2>{{event.name}}</h2>
                <hr/>
                <div class="row">
                    <div class="col-xs-6">
                        <div><strong>Date:</strong>{{event.date | date: 'mediumDate'}}</div>
                        <div><strong>Time:</strong>{{event.time}}</div>
                        <div><strong>Price:</strong>{{34 | currency}}</div>
                    </div>
                    <div class="col-xs-6">
                        <address>
                            <strong>Address:</strong><br/>
                            {{event.location.address}}<br/>
                            {{event.location.city}}, {{event.location.state}}
                        </address>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>